html, body {
	z-index:0;
	margin:0;
	padding:0;
	background: #fff;
	
	top: 0;
    left: 0;	
	position
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	font-smoothing:antialiased;

}

/* ---------------------------------------------
Typography */

h1 {
	font-family:Helvetica Neue, sans-serif;
	font-size:18px;
	font-weight:bold;
	letter-spacing:-0.5px;
	margin-bottom:0px;
	margin-top:4px;
}
h1 span {
	font-family:"Georgia", sans;
	font-size:16px;
	border-bottom:1px solid #ffffff;
	height:25px;
	font-weight:bold;
	font-style:italic;
	letter-spacing:-0.5px;
}
h2 {} h3 {} h4 {}
p  {
	font-family:Georgia, sans;
	font-size:13px;
	font-weight:normal;
	line-height:20px;
	margin-top:12px;
}
#muffin_pouffe {
	height: 125px;
}

/* --------------------------------------------- 
Content */


#wrapper{
	font-family: Arial, Helvetica, sans-serif;
	height: 100%;
	opacity: 0.9;
	position: absolute;
	width: 100%;
	z-index: 10;
}

#gallery{
	position:absolute;
	width:100%;
	height:700px;
	top:0;
	left:0;
}


/* ---------------------------------------------
Containers */



	/* muffin pouffe */
	
	#muffin_pouffe {
		background: #111;
		height: 270px;
		line-height: 18px;
		padding: 20px;
		position: absolute;
		right: 50px;
		top: 30px;
		width: 210px;
		z-index:2;
		-webkit-transition: 0.43s ease-in-out height;
		transition: 0.43s ease-in-out height;
	}
		#muffin_pouffe h1,
		#muffin_pouffe p {
			color:#fff;
		}
			
			
			/* changing content inside the muffin_pouffe */
			.m_p__content {
				color:#fff;
				position: relative;
			}	
				.m_p__content h1,
				.m_p__content p {
					color:#fff;
				}
				
				.m_p__content .image_caption {
					position: absolute;
					top: 0;
					left: 0;
					opacity: 0;
					-webkit-transition: 0.23s ease opacity;
					transition: 0.23s ease opacity;
				}
					.m_p__content .image_caption {
						opacity: 0;
						/* IE Filter */
						filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
					}
					.m_p__content .image_caption.active_caption {
						opacity: 1;
						/* IE Filter */
						filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
					}
					
				.m_p__content span {
					font-style:italic;
					color:#C4C4C4;
				}
	
			
		
	#muffin_pouffe ul {
		margin: 0px auto;
		margin-top:160px;
		margin-left: 5px;
		padding: 0px;
		width: 100%;
	}
		#muffin_pouffe ul li {
			display:inline-block;
			float:left;
			width:35px;
			height:35px;
			margin-right:10%; /* was 10% */
			/* IE Filter */
			filter:progid:DXImageTransform.Microsoft.Alpha(opacity=65);
			opacity:0.65;

			-webkit-transition:0.2s ease-in-out opacity;
			-moz-transition:0.2s ease-in-out opacity;	
			-o-transition:0.2s ease-in-out opacity;	
			transition:0.2s ease-in-out opacity;	
		}
			#muffin_pouffe ul li:hover {
				/* IE Filter */
				filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
				opacity:1;

				-webkit-transition:0.2s ease-in-out opacity;
				-moz-transition:0.2s ease-in-out opacity;	
				-o-transition:0.2s ease-in-out opacity;	
				transition:0.2s ease-in-out opacity;
			}
					
			#muffin_pouffe ul li:last-child {
				margin-right:0%;
			}
			#muffin_pouffe ul li:last-child a {
				top: 0px;
				position: relative;
				float: right;
				right: 10%;
			}
	
	/* submission form */
	#newsltr_container {
		height: 35px;
		width: 210px;
		position: absolute;
		bottom: 20px;
		-webkit-transition: 0.43s ease-in-out height;
		transition: 0.43s ease-in-out height;
		overflow: hidden;
	}
	form {
		position: relative;
		display: none;
		margin-top: 15px;
		width: 100%;
		-webkit-transition: 0.43s ease-in-out height;
		transition: 0.43s ease-in-out height;
	}
	input#name,
	input#ebkhj-ebkhj {
		width: 210px;
		height: 30px;
		line-height: 29px;
		margin-top: 9px;
		background: none;
		color: white;
		font-family: Georgia;
		font-size: 12px;
		font-style: italic;
		border: 1px solid #444;
		padding-left: 7px;
		float: left;
		-webkit-box-sizing: border-box;
		-o-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		
		box-shadow: inset 0px 1px 0  black;
		-webkit-box-shadow: inset 0px 1px 0 black;
		-moz-box-shadow: inset 0px 1px 0 black;
	}
	button#submit,
	#newsltr_btn,
	#thankyou {
		height: 26px;
		width: 100%;
		position: absolute;
		background: #3b393a;
		text-align: center;
		font-family: Georgia;
		font-size: 12px;
		line-height: 27px;
		text-indent: -7px;
		color: white;	
		border: 0px;
		opacity: 0.6;
		filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);
		-webkit-transition: 0.43s ease-in-out all;
		transition: 0.43s ease-in-out all;
	}
	#thankyou {
		display: none;
		background: 0;
		line-height: 50px;
		width: 200px;
		font-size: 14px;
		font-style: italic;
		text-align: left;
		text-indent: 3px;
		color: #C4C4C4;
		opacity: 1;
		filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	}
	button#submit {
		display: none;
		margin-top: 10px;
		line-height: 25px;
		bottom: -113px;
		left: 0px;
	}
		#newsltr_btn {
			display: block;
			bottom: 3px;
			left: 0px;
		}
	button#submit:hover,
	#newsltr_btn:hover {
		opacity: 1;
		filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
		color: white;
	}
	
	
		
	/* matteo bianchi */
		
	
	/* ------------- LOGO -------------- */
	
	#matteo_bianchi {
		background-image:url(../img/sig.png);
		width:204px;
		height:67px;
		left:50px;
		bottom:30px;
		position:absolute;
		z-index:0;
	}
	
	/* ---------------------------------- */
	
	#bio_hover {
		bottom: 0px;
		height: 260px; 
		left: 25px;
		position: absolute;
		width: 320px;
		overflow:hidden;
		z-index:3;
	}
		.bio {
			background: #f2f2f2;
			position: relative;
			top:100%;
			width: 100%;
			padding:20px;
			z-index:2;
			overflow: hidden;
			
			-webkit-transition: 0.25s ease-in-out all;
			-moz-transition: 0.25s ease-in-out all;
			-o-transition: 0.25s ease-in-out all;
			transition: 0.25s ease-in-out all;
			z-index:3;
		}
		#bio_hover:hover .bio {
			top:0;
		}
		.bio p {
			color:#333333;
			width:280px;
			margin-top:0px;
			
		}
		.bio span {
			font-style:italic;
			color:#000000;
		}
		.bio a {
			font-family:Verdana, sans;
			font-size:11px;
			font-weight:normal;
			color:#333333;
			text-decoration:none;
			margin-top:-10px;
			-webkit-transition:0.3s ease-in-out color:
			-moz-transition:0.3s ease-in-out color:
			-o-transition:0.3s ease-in-out color:
			-ms-transition:0.3s ease-in-out color:
			transition:0.3s ease-in-out color:	
		}
			.bio a:hover {
				color:#000000;
				-webkit-transition:0.3s ease-in-out color:
				-moz-transition:0.3s ease-in-out color:
				-o-transition:0.3s ease-in-out color:
				-ms-transition:0.3s ease-in-out color:
				transition:0.3s ease-in-out color:
			}
			
		p.reference {
			font-family:Verdana, sans;
			font-size:11px;
			font-weight:normal;
			color:#333333;
			border-top:1px solid grey;
			margin-top:18px;
			padding-top:10px;
		}
		p.reference > a {
			font-family:Verdana, sans;
			font-size:11px;
			font-weight:normal;
			color:grey;
		} 
			p.reference > a:hover {
			font-size:11px;
			color:#000;
		}

/* ---------------------------------------------
Controls */


#controls {
	width:100%;
	position:absolute;
	height: 100%;	
	top:0;
}
	div.prev {
		width:30%;
		height:100%;
		position:absolute;
		left:50px;
		float:left;
		background-image:url(../img/prev.png);
		background-repeat:no-repeat;
		background-position: center left;
		
		opacity:0;
		/* IE Filter */
		filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);

		-webkit-transition:0.2s ease-in-out opacity;
		-moz-transition:0.2s ease-in-out opacity;	
		-o-transition:0.2s ease-in-out opacity;	
		transition:0.2s ease-in-out opacity;	
	}
		div.prev:hover {
			opacity:1;
			/* IE Filter */
			filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);

			-webkit-transition:0.2s ease-in-out opacity;
			-moz-transition:0.2s ease-in-out opacity;	
			-o-transition:0.2s ease-in-out opacity;	
			transition:0.2s ease-in-out opacity;	
		}	
	div.next {
		width:30%;
		height:100%;
		position:absolute;
		right:50px;		
		background-image:url(../img/next.png);	
		background-repeat:no-repeat;
		background-position: center right;
	
		opacity:0;	
		/* IE Filter */
		filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);

		-webkit-transition:0.2s ease-in-out opacity;
		-moz-transition:0.2s ease-in-out opacity;	
		-o-transition:0.2s ease-in-out opacity;	
		transition:0.2s ease-in-out opacity;		
	}
		div.next:hover {
			opacity:1;
			/* IE Filter */
			filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
			
			-webkit-transition:0.2s ease-in-out opacity;
			-moz-transition:0.2s ease-in-out opacity;	
			-o-transition:0.2s ease-in-out opacity;	
			transition:0.2s ease-in-out opacity;		
		}



/* --------------------------------------------- 
social networking */
	
		button.facebook {
			display:none;
		}
			button.facebook > a {
				display:visible:1;
			}
			button.facebook > a > img {
				display:visible;
			}
		
		li a.twitter-share-button {
			opacity:0;
		}
		li a.twitter-share-button > a > img {
			opacity:1;
		}



		
/* --------------------------------------------- 
Container for the images */

.imgContainer{
	width:100px;
	height:100px;
	overflow:hidden;
	display:inline-block;
}
.imgContainer img{
	width:160px;
}

a {
	z-index:5;
}
